/* html{
    100 : :vh;
  20 : :px;
  }
  
  #popup_bg {
  :: fixed;
  0: 0;
  0: 0;
  100% :%;
  100 : :vh;
  background: rgba (0,0,0,0.5);
  :: none;
  0: 0;
  }
  ##{
    ::;
    ::;
    50%:%;
    50% :%;
    transform: translate (-50%,  -50%);
    :: white;
    3 : :px;
    25 : :px;
    80 ::vw;
  }
  #{
    2 : :vw;
  }
  ##{
    100 : :px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate (-50%,  -50%);
  }

  # {
    130 : :px;
    height: 60px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    background-color: red;
    color: white;
  } */
  
#text{
    width:50%;
    margin: auto;
}

body{
    display:flex;
    height:100vh;
}

#popup_bg {
    position: absolute;
    top: 30%;
    left: 30%;
    width: fit-content;
    height: auto;
    border:1px solid black;
    background-color: pink; 
    padding: 50px;
    border-radius: 10px;
    }
/* 
  @media screen and (min-device-width: 800px) 
  {
    #forma{
      width:max-content;
    }
  } */
