.logotype
{
    padding: -20px;
    float: left;
    height: 120px;
    width: 120px;
    margin-right: 20px;
}

body{
    margin: 0;
}


.picture
{
    width: 400px;
}
header{
    margin-top: -20 px;
}

.footer{
    margin:0 auto;
}

@media screen and (min-width: 800px) {
    #table-form .table p-3 border{
        order:-1;
    }
    #table-form #form{
        order:1;
    }
 }
