 * {
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
}

h1 
{
  text-align: center;
  font-size: 36px;
}
    
form 
{
  margin: 0 auto;
  max-width: 500px;
}

input 
{
  margin: 10px 0;
  font-size: 20px;
}

.form_radio label 
{
	display: inline-block;
  padding-right: 15px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;
}

form
{
  background-color: rgb(208, 208, 216);
  padding:10px;
}

.result 
{
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.price_title,
.price_title span 
{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
}
